/* Bordes y colores de fondo de toda la página y otras aclaraciones generales */
*{
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}
body{
  background-color: #f9caa7
}
a:link {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* Tabla de Navegación */
.linksAcceso {
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: fixed;
}
  .linksAcceso li{
    display: inline;
  }
  .linksAcceso a{
    background-color: #751e0d;
    color: #FFFFFF;
    border: 1px solid black;
    font-size: 20px;
    float: none;
  }
  .linksAcceso a:hover{
    background-color: #f7584d;
  }

/* Títulos del Encabezado */
#tituloPagina{
  color: navy;
  background-color: #2ab7ca;
  font-family: Georgia, "Times New Roman", sans-serif;
  text-align: center;
  white-space: normal;
  margin-top: 2.3px;
  margin-bottom: -15px;
}
  #tituloPagina h1{
    font-size: 3em;
    display: inline;
    letter-spacing: 0.04em;
  }
  #tituloPagina span.enfasis{
    font-family: Brush Script MT;
  }
  #tituloPagina h2{
    margin-top: 5px;
    font-size: 2em;
    word-spacing: 0.2em;
  }

/*Introducción con información previa al registro */
#introduccion{
  text-indent: 1em;
}
  #introduccion p:first-of-type{
    font-family: 'Pirata One', cursive;
    font-size: 1.3em;
    line-height: 1.2em;
  }
  #introduccion span.enfasis{
    font-variant: small-caps;
    font-size: 1.5em;
  }
  #introduccion p:last-of-type{
    font-family: rockwell;
    text-indent: 1.2em;
    margin-top: -15px;
  }

/* Formulario */
#formulario_registro{
  text-align: center;
}
#formulario_registro h3{
  font-style: italic;
  font-variant: small-caps;
  margin-bottom: -5px;
}
  #formulario_registro:focus {
    border: 2px solid #385D8A;
  }
  #formulario_registro input:required:invalid, input:focus:invalid {
    border: 2px solid red;
    -moz-box-shadow: none;
  }
  #formulario_registro input[type="number"]{
    width: 239px;
  }
  #formulario_registro .opcional{
    font-family: Courier New;
  }
  #opciones .prestar[label]{
    background-color: #8ced0e
  }
    #opciones .prestar option:first-of-type{
      color: rgb(50, 168, 82);
      background-color: white;
    }
    #opciones .prestar option:last-of-type{
      color: hsl(134, 71%, 21%);
      background-color: white;
    }
  #opciones .preguntar[label="Preguntar Dudas"]{
    background-color: #a154ab
  }
    #opciones .preguntar option:nth-of-type(1){
      color: rgba(181, 112, 174, 1);
      background-color: white;
    }
    #opciones .preguntar option:nth-of-type(2){
      color: #c71eb6;
      background-color: white;
    }

/* Aclaraciones y Publicidad */
#extra{
  margin: 0px;
  padding: 0px;
}
  p.enfasis{
    font-family: rockwell;
    text-indent: 1.1em;
    line-height: 1em;
  }
  .aviso{
    text-decoration: underline;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 7px #0447b8;
  }
  .linkPolicia{
    font-size: 100%;
  }
  .linkPolicia:hover {
    color: #95B3D7;
  }
  .publicidad {
    background-color: #e3ce88;
    position: fixed;
    margin-top: 21px;
  }
    .publicidad h3{
      margin-bottom: -0.01px;
      margin-left: -25px;
      display: inline;
    }
    .publicidad li{
      display: inline-block;
    }
    .publicidad li, a{
      text-align: center;
      width: 19.29em;
      cursor: pointer;
    }
    .publicidad-lista a:hover{
      color: #848c88;
      font-size: 115%;
    }
    a, i{
      font-size: 125%;
      }
      i{
        color: blue;
      }

/* Gracias por ver mi página ;) */
