/* Tabla de Navegación para PC con Pantalla Grande */
@media screen and (min-width: 1440px){
    #linksAcceso a{
      padding-top: 37px;
      padding-left: 106.5px;
      padding-right: 106.5px;
      padding-bottom: 20px;
    }
}

/* Tabla de Navegación para PC con Pantalla Chica */
@media screen and (min-width: 1200px) and (max-width: 1439px){
    #linksAcceso a{
      padding-top: 37px;
      padding-left: 84.3px;
      padding-right: 84.3px;
      padding-bottom: 20px;
    }
}

/* Tabla de Navegación para iPad Pro */
@media screen and (min-width: 1024px) and (max-width: 1199px){
    #linksAcceso a{
      padding-top: 37px;
      padding-left: 66.7px;
      padding-right: 66.7px;
      padding-bottom: 20px;
    }
}

/* Tabla de Navegación para iPad */
@media screen and (min-width: 768px) and (max-width: 1023px){
    #linksAcceso a{
      padding-top: 37px;
      padding-left: 41.1px;
      padding-right: 41.1px;
      padding-bottom: 20px;
    }
  }

/* Tabla de Navegación para Surface Duo */
@media screen and (min-width: 540px) and (max-width: 750px){
    #linksAcceso a{
      padding-top: 37px;
      padding-left: 18.3px;
      padding-right: 18.3px;
      padding-bottom: 20px;
    }
}

/* Tabla de Navegación para iPhone 6,7,8 Plus; Pixel 2 y Pixel 2 XL */
@media screen and (min-width: 411px) and (max-width: 539px){
    #linksAcceso a{
      padding-top: 37px;
      padding-left: 5.4px;
      padding-right: 5.4px;
      padding-bottom: 20px;
    }
}

/* Tabla de Navegación para iPhone 6,7,8 y iPhone X */
@media screen and (min-width: 375px) and (max-width: 410px){
    #linksAcceso a{
      padding-top: 37px;
      padding-left: 1.8px;
      padding-right: 1.8px;
      padding-bottom: 20px;
    }
  span.enfasis{
    font-size: 45px;
  }
}

