/* Bordes y colores de fondo de toda la página y otras aclaraciones generales */
*{
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
  scroll-behavior: smooth;
}
body{
  background-color: #f9caa7
}
a:link {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  cursor: pointer;
}

/* Tabla de Navegación */
.linksAcceso {
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: fixed;
}
  .linksAcceso li{
    display: inline;
  }
  .linksAcceso a{
    background-color: #751e0d;
    color: #FFFFFF;
    border: 1px solid black;
    font-size: 20px;
    float: none;
  }
  .linksAcceso a:hover{
    background-color: #f7584d;
  }

/* Títulos del Encabezado */
#tituloPagina{
  color: navy;
  background-color: #2ab7ca;
  font-family: Georgia, "Times New Roman", sans-serif;
  text-align: center;
  white-space: normal;
  margin-top: 2.3px;
  margin-bottom: -15px;
}
  #tituloPagina h1{
    font-size: 3em;
    display: inline;
    letter-spacing: 0.04em;
  }
  #tituloPagina span.enfasis{
    font-family: Brush Script MT;
  }
  #tituloPagina h2{
    margin-top: 5px;
    font-size: 2em;
    word-spacing: 0.2em;
  }

/*Introducción con información previa al registro */
#introduccion{
  text-indent: 1em;
  margin-bottom: -1.5em;
}
  #introduccion p:first-of-type{
    font-family: 'Pirata One', cursive;
    font-size: 1.3em;
    line-height: 1.2em;
  }
  #introduccion span.enfasis{
    font-variant: small-caps;
    font-size: 1.5em;
  }
  #introduccion p:last-of-type{
    font-family: rockwell;
    text-indent: 1.2em;
    margin-top: -15px;
  }

/* Formulario */
h3{
   font-style: italic;
   font-variant: small-caps;
   text-align: center;
   font-size: 2em;
 }
#formulario{
  height: 590px;
  padding-left: 9em;
  margin-top: -1.5em;
  margin-right: 12em;
  margin-left: 17em;
  display: flex;
  justify-content: space-around;
  background-color: #0a64c4;
}
  #formulario_registro{
    text-align: center;
    margin-left: -8em;
  }
    #formulario_registro p{
      font-size: 1.1em;
    }
    #formulario_registro input:required{
      width: 25em;
    }
    #formulario_registro input:focus, input:hover{
      background-color: #f7eeed;
    }
    #formulario_registro input:required:invalid, input:focus:invalid {
      border: 2px solid red;
      -moz-box-shadow: none;
    }
    .nombreUsuario, .contraseñaUsario, .confirmacionUsuario, .emailUsuario{
      height: 2.1em;
    }
    #formulario_registro input[type="number"]{
      width: 18em;
      height: 2.1em;
    }
    #formulario_registro .opcional{
      font-family: Courier New;
    }
    #opciones .prestar[label]{
      background-color: #8ced0e
    }
      #opciones .prestar option:first-of-type{
        color: rgb(50, 168, 82);
        background-color: white;
      }
      #opciones .prestar option:last-of-type{
        color: hsl(134, 71%, 21%);
        background-color: white;
      }
      #opciones .preguntar[label="Preguntar Dudas"]{
        background-color: #a154ab
      }
      #opciones .preguntar option:nth-of-type(1){
        color: rgba(181, 112, 174, 1);
        background-color: white;
      }
      #opciones .preguntar option:nth-of-type(2){
        color: #c71eb6;
        background-color: white;
      }
      .boton{
        color: #fff;
        background-color: #69a832;
        font-family: 'Pirata One', cursive;
        font-size: 1.8em;
        width: 8.5em;
        height: 2.2em;
        border: 3px solid #5a7d20;
        cursor: pointer;
      }
      .boton:hover{
        background-color: #58c41d;
      }
      p.enfasis{
        font-family: rockwell;
        text-indent: 1.1em;
        line-height: 1em;
        text-align: left;
        margin-top: 2em;
      }
      .enfasis a{
        font-size: 110%;
      }
      .enfasis a:hover{
        color: #2799db;
      }
      .aviso{
        text-decoration: underline;
        letter-spacing: 0.2em;
        text-shadow: 2px 2px 7px #0447b8;
      }
  .papeles{
    width: 30em;
    height: 36em;
    padding-top: 1em;
    margin-right: 1.1em;
    object-fit: cover;
    object-position: center;
 }

/* Publicidad */
.publicidad {
  background-color: #e3ce88;
  margin-top: -8.5em;
  position: fixed;
}
  .publicidad h3{
    margin-bottom: -0.01px;
    margin-left: -25px;
    display: inline;
    font-size: 1.2em;
  }
  .publicidad li{
    display: inline-block;
  }
  .publicidad li, a{
    text-align: center;
    width: 19.15em;
    cursor: pointer;
  }
  .publicidad-lista a:hover{
    color: #848c88;
    font-size: 115%;
  }
  a, i{
    font-size: 125%;
    }
    i{
      color: blue;
    }

/* Nuestro Equipo */
.tanda{
  background-color: #2799db;
}
h4{
  font-size: 4em;
  text-align: center;
  margin-top: -0.05em;
}
.primera_tanda{
  display: flex;
  justify-content: space-around;
  margin-top: -4em;
}
.primerProgramador{
  width: 30em;
  height: 20em;
  border: solid rgb(235, 64, 52) 4px;
  object-fit: cover;
  object-position: left;
}
.segundoProgramador{
  width: 30em;
  height: 20em;
  border: solid rgb(235, 64, 52) 4px;
  object-fit: cover;
  object-position: center;
}
.segunda_tanda{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}
.tercerProgramador{
  width: 30em;
  height: 20em;
  border: solid rgb(235, 64, 52) 4px;
  object-fit: cover;
}
.cuartoProgramador{
  width: 30em;
  height: 20em;
  border: solid rgb(235, 64, 52) 4px;
  object-fit: cover;
  object-position: right;
}
.flexbox div{
  background-color: #258;
  color: #fff;
  margin: 5px;
  height: 120px;
  width: 120px;
}

/* Aclaraciones y Publicidad */
#extra{
  margin: 0px;
  padding: 0px;
}
  .policia{
    margin-top: -0.5em;
  }
  .linkPolicia{
    font-size: 100%;
  }
  .linkPolicia:hover {
    color: #95B3D7;
  }

/* Gracias por ver mi página ;) */
