#titulo{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-cama{
  margin: 10px 50px;
  border: 3px solid #000;
  cursor: pointer;
  background-color: #fff;
}

.container-cama:hover{
  border-color: #e0d90b;
  box-shadow: 0px 0px 20px #e0d90b;
}

.container-cama:focus{
  border-color: #e0d90b;
  box-shadow: 0px 0px 20px #e0d90b;
}

.container-cama h3, h4{
  width: 200px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h4:nth-child(2){
  color: #008055;
}

h4:nth-child(3) b{
  color: rgb(4, 148, 59);
}

.container-cama img{
  width: 215px;
  height: 195px;
  margin-left: 30px;
  margin-top: -30px;
}

.formulario{
  text-align: center;
}

#boton-comprar{
  text-align: center;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  background-color: #69a832;
  font-size: 1.8em;
  width: 599px;
  height: 50px;
  margin-top: 10px;
}

#boton-comprar:hover{
  background-color: #58c41d;
}
