#titulo{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-cama{
  margin: 10px 50px;
  border: 3px solid black;
  cursor: pointer;
  background-color: #fff;
}

.container-cama h3, h4{
  width: 200px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.container-cama img{
  width: 100px;
  height: 100px;
  margin-left: 45px;
  margin-top: -30px;
}

.centrar{
  text-align: center;
}

#boton-comprar{
  text-align: center;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  background-color: #69a832;
  font-size: 1.8em;
  width: 599px;
  height: 50px;
  margin-top: 10px;
}

#boton-comprar:hover{
  background-color: #58c41d;
}
