body{
  display: flex;
  justify-content: center;
  align-items: center;
}
article{
  width: 770px;
  height: 365px;
  top: 50vh;
  margin-top: 185px;
  opacity: 1;
  display: flex;
  box-shadow: 2px 2px 8px 0 #000;
}
img{
  width: 410px;
  height: 310px;
  object-fit: cover;
  object-position: center;
}
.flex-item__arrows{
  text-align: center;
  margin-top: -15px;
  word-spacing: 5px;
}
.flex-item__arrows_arrow{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.flex-item__arrows_arrow:first-child{
  transform: rotate(180deg);
}
.flex-item__arrows_arrow:hover{
  filter: invert(50%) sepia(98%) saturate(2614%) hue-rotate(161deg) brightness(95%) contrast(101%);
}
h1{
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  line-height: 44px;
}
p{
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  line-height: 22px;
  border: 310px;
  height: 106px;
  width: 305px;
  margin-top: -10px;
}
.flex-item__colors{
  width: 130px;
  height: 20px;
  margin-top: 42px;
}
.flex-item__colors__object{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 5px;
}
.flex-item__colors__object:nth-child(3){
  filter: invert(58%) sepia(7%) saturate(2616%) hue-rotate(165deg) brightness(91%) contrast(88%);
}
.flex-item__colors__object:hover{
  width: 17px;
  height: 17px;
}
.flex-item__price{
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}
h2{
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: -1,8px;
  color: #666666;
  opacity: 1;
  line-height: 44px;
  margin-left: -5px;
}
input{
  background: #88C9F6 0% 0%;
  color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0px;
  line-height: 19px;
  border: #88C9F6;
  border-radius: 6px;
  opacity: 1;
  width: 135px;
  height: 42px;
  cursor: pointer;
  margin-top: 31px;
  margin-right: -28px;
}
input:hover{
  background-color: #9dd1f5;
}
