/* Tabla de Navegación para PC con Pantalla Grande */
@media screen and (min-width: 1440px){
    .linksAcceso a{
      padding: 37px 106.5px 15px 106.5px;
    }
}

/* Tabla de Navegación para PC con Pantalla Chica */
@media screen and (min-width: 1200px) and (max-width: 1439px){
    .linksAcceso a{
      padding: 37px 84.3px 15px 84.3px;
    }
    #formulario{
      margin-right: 10em;
      margin-left: 12em;
    }
    .papeles{
      width: 400px;
      height: 500px;
      margin-top: 35px;
    }
}

/* Tabla de Navegación para iPad Pro */
@media screen and (min-width: 1024px) and (max-width: 1199px){
    .linksAcceso a{
      padding: 37px 66.7px 20px 66.7px;
    }
    #formulario{
      margin-right: 5em;
      margin-left: 7em;
    }
    .papeles{
      width: 380px;
      height: 500px;
      margin-top: 35px;
    }
    .ayuda-grid p{
      font-size: 1.5em;
    }
}

/* Tabla de Navegación para iPad */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .linksAcceso a{
    padding: 37px 41.1px 15px 41.1px;
  }
  #formulario{
    margin-right: 1em;
    margin-left: 3em;
  }
  .papeles{
    width: 240px;
    height: 440px;
    margin-top: 55px;
    margin-right: 20px;
  }
  .primerProgramador, .segundoProgramador, .tercerProgramador, .cuartoProgramador{
    width: 20em;
  }
  .ayuda-grid p{
    font-size: 0.7em;
  }
}

/* Tabla de Navegación para Surface Duo */
@media screen and (min-width: 540px) and (max-width: 750px){
    .linksAcceso a{
      padding: 37px 18.3px 15px 18.3px;
    }
    #formulario{
      margin-right: 1em;
      margin-left: 1em;
    }
    .papeles{
      display: none;
    }
    h4{
      font-size: 3.5em;
    }
    .primerProgramador, .segundoProgramador, .tercerProgramador, .cuartoProgramador{
      width: 15em;
      object-position: center;
    }
    .opciones_ayuda{
      font-size: 2em;
    }
    .ayuda-grid{
      grid-template-columns: repeat(5, minmax(80px, 110px));
      grid-gap: 30px;
      height: 5em;
    }
    .ayuda-grid p{
      font-size: 0.86em;
    }
}

/* Tabla de Navegación para iPhone 6,7,8 Plus; Pixel 2 y Pixel 2 XL */
@media screen and (min-width: 411px) and (max-width: 539px){
    .linksAcceso a{
      padding: 37px 5.4px 15px 5.4px;
    }
    #formulario{
      margin-right: 1em;
      margin-left: 1em;
    }
    .papeles{
      display: none;
    }
    h4{
      font-size: 3.5em;
    }
    .primerProgramador, .segundoProgramador, .tercerProgramador, .cuartoProgramador{
      width: 10em;
      height: 14em;
      object-position: center;
    }
    .opciones_ayuda{
      font-size: 2em;
    }
    .ayuda-grid{
      grid-template-columns: repeat(5, minmax(50px, 80px));
      grid-gap: 10px;
      height: 2em;
    }
    .ayuda-grid p{
      font-size: 0.6em;
    }
}

/* Tabla de Navegación para iPhone 6,7,8 y iPhone X */
@media screen and (min-width: 375px) and (max-width: 410px){
    .linksAcceso a{
      padding: 37px 1.8px 15px 1.8px;
    }
    #formulario{
      margin-right: 1em;
      margin-left: 1em;
    }
    #formulario_registro input[type="text"]{
      width: 18em;
      height: 2.1em;
    }
    #formulario_registro input[type="password"]{
      width: 18em;
      height: 2.1em;
    }
    #formulario_registro input[type="email"]{
      width: 18em;
      height: 2.1em;
    }
    #formulario_registro input[type="number"]{
      width: 12.7em;
      height: 2.1em;
    }
    select{
      width: 19em;
    }
    .boton{
      width: 6.5em;
      height: 1.7em;
    }
    .papeles{
      display: none;
    }
    h4{
      font-size: 2.5em;
      margin-bottom: 2em;
    }
    .primerProgramador, .segundoProgramador, .tercerProgramador, .cuartoProgramador{
      width: 10em;
      height: 12.5em;
      object-position: center;
    }
    .opciones_ayuda{
      font-size: 2em;
    }
    .ayuda-grid{
      margin-top: -1em;
      grid-template-columns: repeat(5, minmax(50px, 80px));
      grid-gap: 10px;
      height: 2em;
    }
    .ayuda-grid p{
      font-size: 0.6em;
    }
    span.enfasis{
    font-size: 45px;
  }
}
