/* Bordes y colores de fondo de toda la página y otras aclaraciones generales */
*{
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
  scroll-behavior: smooth;
}
body{
  background-color: #75d3b6;
}
a:link {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* Tabla de Navegación */
.linksAcceso {
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: fixed;
  z-index: 1;
}
  .linksAcceso li{
    display: inline;
  }
  .linksAcceso a{
    background-color: #215c49;
    color: #FFFFFF;
    border: 1px solid black;
    font-size: 20px;
    float: none;
  }
  .linksAcceso a:hover{
    background-color: #39a987;
  }

/* Títulos del Encabezado */
#tituloPagina{
  color: #000000;
  background-color: #2d8268;
  font-family: Georgia, "Times New Roman", sans-serif;
  text-align: center;
  white-space: normal;
  margin-top: 2.3px;
  margin-bottom: -15px;
}
  #tituloPagina h1{
    font-size: 3em;
    display: inline;
    letter-spacing: 0.04em;
  }
  #tituloPagina span.enfasis{
    font-family: Brush Script MT;
  }
  #tituloPagina h2{
    margin-top: 5px;
    font-size: 2em;
    word-spacing: 0.2em;
  }

/*Introducción con información previa al registro */
#introduccion{
  text-indent: 1em;
  margin-bottom: -1.5em;
}
  #introduccion p:first-of-type{
    font-family: 'Pirata One', cursive;
    font-size: 1.3em;
    line-height: 1.2em;
  }
  #introduccion span.enfasis{
    font-variant: small-caps;
    font-size: 1.5em;
  }
  #introduccion p:last-of-type{
    font-family: rockwell;
    text-indent: 1.2em;
    margin-top: -15px;
  }

/* Formulario */
h3{
   font-style: italic;
   font-variant: small-caps;
   text-align: center;
   font-size: 2em;
 }
#formulario{
  height: 590px;
  padding-left: 9em;
  margin-top: -1.5em;
  margin-right: 12em;
  margin-left: 17em;
  display: flex;
  justify-content: space-around;
  background-color: #39a987;
}
  #formulario_registro{
    text-align: center;
    margin-left: -8em;
  }
    #formulario_registro p{
      font-size: 1.1em;
    }
    #formulario_registro input:required{
      width: 25em;
    }
    #formulario_registro input:focus, input:hover{
      background-color: #f7eeed;
    }
    #formulario_registro input:required:invalid, input:focus:invalid {
      border: 2px solid rgb(240, 10, 10);
      -moz-box-shadow: none;
    }
    #formulario_registro input:required:valid, input:focus:valid {
      border: 2px solid #1ee832;
      -moz-box-shadow: none;
    }
    .nombreUsuario, .contraseñaUsario, .confirmacionUsuario, .emailUsuario{
      height: 2.1em;
    }
    #formulario_registro input[type="number"]{
      width: 18em;
      height: 2.1em;
    }
    #formulario_registro .opcional{
      font-family: Courier New;
    }
    #opciones .prestar[label]{
      background-color: #75d3b6;
    }
      #opciones .prestar option:first-of-type{
        color: rgb(50, 168, 82);
        background-color: white;
      }
      #opciones .prestar option:last-of-type{
        color: hsl(134, 71%, 21%);
        background-color: white;
      }
      #opciones .preguntar[label="Preguntar Dudas"]{
        background-color: #2d8268;
      }
      #opciones .preguntar option:nth-of-type(1){
        color: rgba(181, 112, 174, 1);
        background-color: white;
      }
      #opciones .preguntar option:nth-of-type(2){
        color: #c71eb6;
        background-color: white;
      }
      .boton{
        color: #fff;
        background-color: #215c49;
        font-family: 'Pirata One', cursive;
        font-size: 1.8em;
        width: 8.5em;
        height: 2.2em;
        border: 3px solid #234a34;
        cursor: pointer;
      }
      .boton:hover{
        background-color: #3e7563;
        border: 3px solid #346354;
      }
      p.enfasis{
        font-family: rockwell;
        text-indent: 1.1em;
        line-height: 1em;
        text-align: left;
        margin-top: 2em;
      }
      .enfasis a{
        font-size: 110%;
      }
      .enfasis a:hover{
        color: #2799db;
      }
      .aviso{
        text-decoration: underline;
        letter-spacing: 0.2em;
        text-shadow: 2px 2px 7px #0447b8;
      }
  .papeles{
    width: 450px;
    height: 570px;
    padding-top: 1em;
    margin-right: -0.7em;
    object-fit: cover;
    object-position: center;
 }

/* Nuestro Equipo */
.tanda{
  background-color: #215c49;
}
h4{
  font-size: 4em;
  text-align: center;
  margin-top: -0.05em;
}
.primera_tanda{
  display: flex;
  justify-content: space-around;
  margin-top: -4em;
}
.primer_imagen, .segunda_imagen, .tercera_imagen, .cuarta_imagen{
  position: relative;
}
.primerProgramador{
  width: 30em;
  filter: none;
  height: 20em;
  border: solid #39a987 4px;
  object-fit: cover;
  object-position: left;
}
  .overlay_1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: 'Pirata One', cursive;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
  }
  .overlay_1 h3{
    font-size: 5em;
  }
  .overlay_1 p{
    margin-left: 10px;
    margin-top: -40px;
    font-size: 1.5em;
  }
  .overlay_1:hover{
    opacity: 1;
  }
.segundoProgramador{
  width: 30em;
  height: 20em;
  border: solid #39a987 4px;
  object-fit: cover;
  object-position: center;
}
  .overlay_2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: #f01d1d;
    color: #fff;
    font-family: 'Pirata One', cursive;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .overlay_2 h3{
    font-size: 5em;
  }
  .overlay_2 p{
    margin-left: 10px;
    margin-top: -40px;
    font-size: 1.5em;
  }
  .overlay_2:hover{
      opacity: 1;
  }
  .overlay_2 > * {
    transform: translateY(50px);
    transition: transform 0.5s;
  }
  .overlay_2:hover > * {
    transform: translateY(0px);
    opacity: 1;
  }
.segunda_tanda{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}
.tercerProgramador{
  width: 30em;
  height: 20em;
  border: solid #39a987 4px;
  object-fit: cover;
}
.overlay_3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  backdrop-filter: blur(0px);
  color: #fff;
  font-family: 'Pirata One', cursive;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.overlay_3 h3{
  font-size: 5em;
}
.overlay_3 p{
  margin-left: 10px;
  margin-top: -40px;
  font-size: 1.5em;
}
.overlay_3:hover{
  opacity: 1;
  backdrop-filter: blur(3px);
}
.cuartoProgramador{
  width: 30em;
  height: 20em;
  border: solid #39a987 4px;
  object-fit: cover;
  object-position: right;
}
.overlay_4{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: #1df075;
  color: #000;
  font-family: 'Pirata One', cursive;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
}
.overlay_4 h3{
  font-size: 5em;
}
.overlay_4 p{
  margin-left: 10px;
  margin-top: -40px;
  font-size: 1.5em;
}
.overlay_4:hover{
    opacity: 1;
}
.overlay_4 > * {
  transform: translateY(-50px);
  transition: transform 0.5s;
}
.overlay_4:hover > * {
  transform: translateY(0px);
  opacity: 1;
}
.flexbox div{
  background-color: #258;
  color: #fff;
  margin: 5px;
  height: 120px;
  width: 120px;
}
  b.verde{
    color: rgb(10, 240, 33);
  }
  b.rojo{
    color: rgb(240, 10, 10);
  }
  .ayuda-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 300px));
    grid-gap: 40px;
    margin-left: 1em;
    margin-right: 1em;
  }
  .ayuda-grid p{
    margin-top: -0.4em;
    margin-bottom: 1em;
    border: solid #000 2px;
    font-size: 2em;
    user-select: none;
  }
  .ayuda-grid-verde{
    background-color: rgb(10, 240, 33);
    filter: saturate(68%);
  }
  .ayuda-grid-rojo{
    background-color: rgb(240, 10, 10);
    filter: saturate(68%);
  }

/* Aclaraciones */
#extra{
  margin: 0px;
  padding: 0px;
}
  .policia{
    margin-top: -0.5em;
  }
  .linkPolicia{
    font-size: 100%;
  }
  .linkPolicia:hover {
    color: #95B3D7;
  }

/* Gracias por ver mi página ;) */
