main{
    color: #333;
    background-color: rgba(238,238,238,255);
    font-family: 'Segoe UI', Arial, sans-serif;
    position: relative;
    margin: 30px 3px;
}
header{
    text-align: center;
    margin-top: -5px;
}
header h1{
    position: relative;
    font-size: 2.3em;
    font-weight: 700;
    padding-bottom: 15px;
    bottom: -35px;
}
header h2{
    font-weight: normal;
    font-size: 1em;
    position: relative;
    padding-bottom: 10px;
    bottom: -10px;
}
#img-div{
    background-color: white;
    text-align: center;
    position: relative;
    margin: 0px 15px;
    padding-bottom: 28px;
    max-width: 100%;
}
#img{
    max-width: 100%;
}
#img-div label{
    position: relative;
    bottom: -10px;
}
article{
    text-align: center;
    position: relative;
    margin: 45px 0px 45px 0px;
}
article h3{
    position: relative;
    padding-bottom: 30px;
}
article ul{
    margin: 0px 400px;
}
ul li{
    position: relative;
    padding-bottom: 20px;
    line-height: 1.6;
    text-align: left;
}
aside{
    position: relative;
    top: -15px;
    margin: 0px 420px;
    text-align: left;
}
aside p{
    font-style: italic;
    line-height: 1.6;
}
footer{
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 5px;
}
h4 a{
    opacity: 0.7;
}